/dist/
*.class
/testdata/multipleClassesFalsePos/MultipleClassesFalsePos/nbproject/private/
/testdata/multipleClassesFalsePos/MultipleClassesFalsePos/build/
/testdata/multipleClassesFalsePos/MultipleClassesFalsePos/dist/