/dist/
*.class
/testdata/multipleClassesFalsePos/MultipleClassesFalsePos/nbproject/private/
/testdata/multipleClassesFalsePos/MultipleClassesFalsePos/build/
/testdata/multipleClassesFalsePos/MultipleClassesFalsePos/dist/
/test/multipleClassesFalsePos/MultipleClassesFalsePos/build/
/test/multipleClassesFalsePos/MultipleClassesFalsePos/dist/
/test/multipleClassesFalsePos/MultipleClassesFalsePos/nbproject/private/